body {
	background-color: white;
	color: black;
	font-family: sans-serif;
	margin: auto;
	max-width: 480px;
	padding: 20px;
}
main {
	margin: 20px 0;
}

h1 {
	font-size: 2em;
	font-weight: normal;
	text-transform: capitalize;
}

ul {
	list-style: none;
	margin: 20px 0;
	padding: 0;
}
li.todo {
	background-color: whitesmoke;
	border: 1px solid grey;
	border-radius: 10px;
	margin: 10px 0;
	padding: 10px;
}

input, select {
	border: 1px solid grey;
	border-radius: 5px;
	box-sizing: border-box;
	font: inherit;
	height: 35px;
	margin: 5px 0 20px 0;
	padding: 0 5px 0 5px;
	width: 100%;
}

.button {
	border: transparent;
	border-radius: 5px;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	font: inherit;
	margin: 10px 0;
	min-width: 100px;
	padding: 10px;
	text-align: center;
}
.button.primary {
	background-color: royalblue;
	color: white;
}
.button.secondary {
	background-color: darkgrey;
	color: black;
}

a, a:visited {
	color: royalblue;
	cursor: pointer;
	text-decoration: none;
}

.error {
	color: red;
}
.right {
	float: right;
}
