body {
    padding: 25px;
}

@media screen and (min-width: 450px) {

    nav {
        margin-bottom: 10px;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    main {
        display: flow-root;
    }

    #main-content {
        width: 70%;
        float: left;
    }

    aside {
        width: calc(30% - 45px);
        margin-top: 20px;
        margin-left: 25px;
        padding-left: 20px;
        float: right;
    }

    footer {
        width: 100%;
        height: 100%;
        background-color: red;
    }

}

@media screen and (max-width: 450px) {
    main {
        display: flex;
        flex-direction: column;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li a {
        display: block;
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        text-decoration: none;
    }

    img {
        width: 100%;
        height: auto;
    }
}